@import "../mixins";
@import "../variables";

.excel__header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 8px 4px 0px;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  height: $header-height;

  & .input {  
    margin: 0;
    padding: 2px 7px;
    min-width: 1px;
    height: 20px;
    color: #000;
    border: 1px solid transparent;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    outline: none;

    &:focus, &:hover {
      border: 2px solid #1a73e8;
    }
  }

  & .button {
    @include button(red)
  }
}
